.errorField {
  input {
    border-color: #ff4d4f;
  }
}

.error {
  margin-top: 4px;
  display: block;
}

.textarea {
  resize: vertical;
  min-height: 80px !important;
}

.container {
  div {
    flex-direction: row !important;
    align-items: center !important;
    width: auto !important;
    padding-bottom: 0 !important;
  }
}
