:root {
  --color-primary: #f46119;
  --color-orange-light: #fef7f3;
  --color-gray-light: #f5f5f5;
  --color-white: #ffffff;
  --color-gray-divider: #e0dcdc;
  --shadow-normal: 0 5px 15px rgba(0, 0, 0, 0.08);
}
