.navigation {
    grid-area: navigation;
    background-color: bisque;
    max-width: 400px;
    padding: 20px;
}

.navigation__item:not(:last-child) {
    margin-bottom: 20px;
}

.navigation__link {
    transition: color 0.4s;
}

.navigation__link.active {
    color: chocolate;
}