.menu {
  margin-bottom: 12px;
}

.logout {
  &:hover,
  .active {
    .logoutContent {
      color: red !important;
    }
  }

  &:active {
    .logoutContent {
      opacity: 0.7;
    }
  }
}

.logoutContent {
  transition: color 0.3s, opacicty 0.3s;
  font-size: 14px;
  color: #999;
}