.menu {
  margin-bottom: 12px;
  border: none !important;
}

.logout {
  &:hover,
  .active {
    .logoutContent {
      color: var(--color-primary) !important;
    }
  }

  &:active {
    .logoutContent {
      opacity: 0.7;
    }
  }
}

.logoutContent {
  transition:
    color 0.3s,
    opacicty 0.3s;
  font-size: 14px;
  color: #999;
}

.item {
  border-radius: 0 8px 8px 0 !important;
  margin-left: 0 !important;
  position: relative;

  span {
    transition: color 0.3s;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -13px;
    width: 5px;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background-color: var(--color-primary);
    content: "";
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.active {
  background-color: rgba(244, 97, 25, 0.05) !important;

  span {
    color: var(--color-primary);
  }

  &::before {
    opacity: 1;
  }
}
