.navigation {
  padding-bottom: 16px;
  padding-top: 16px;
  box-shadow: var(--shadow-normal) !important;
  background-color: var(--color-white);
  border-radius: 8px;
}

.container {
  gap: 24px;
  padding-top: 24px;
  justify-content: center;
}