.header {
  grid-area: header;
  background-color: azure;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo__img {
  object-fit: contain;
  max-width: 150px;
  width: 100%;
  height: 70px;
}

.header__login {
  align-self: flex-start;
}
