.profile {
  margin-bottom: 50px;
}

.cover {
  margin-bottom: 28px;

  img {
    object-fit: cover;
    border-radius: 12px;
  }
}

.topContent {
  border-radius: 12px;
}

.ava {
  flex-basis: 120px;
  flex-shrink: 0;
  height: 120px;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.settings {
  flex-grow: 1;
}

.buttonEdit {
  margin-left: auto;
}

.icon {
  color: var(--color-primary)
}